/*.profile-pic {
}

.name-header{
    text-align: center;
}*/

.button-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
}

.social-media-button img{
    width: 30px;
    height: 30px;
}