body {
    font-family: Georgia, serif;
    text-align: center;
}

.lead {
    font-size: 18px;
    line-height: 1.6;
}

.text {
    max-width: 75%;
}

#headshot {
    width: 200;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
